<div class="app-nav-bar"></div>

<div class="app-list-modal" [listDetails] = listDetails></div>

<div class="container">

    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="row">

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <button (click)="Categories()" type="button" class="btn more summery" data-toggle="modal"
                        data-target="#modal-list">Categories : 01</button>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <button (click)="Plants()" type="button" class="btn more summery" data-toggle="modal" data-target="#modal-list">Plants
                        : 01</button>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <button (click)="Indicaters()" type="button" class="btn more summery" data-toggle="modal"
                        data-target="#modal-list">Indicaters : 06</button>
                </div>

            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="common-data-header">Common Data</div>

            <table class="common-table">

                <thead>
                    <th>#</th>
                    <th>Feature</th>
                    <th>Inner Data</th>
                    <th>Outer Data</th>
                </thead>

                <tbody>

                    <tr>
                        <td>01</td>
                        <td>Tempereture</td>
                        <td>{{innerData.Temperature}}</td>
                        <td>{{outerData.Temperature}}</td>
                    </tr>

                    <tr>
                        <td>02</td>
                        <td>Relative humidity</td>
                        <td>{{innerData.RH}}</td>
                        <td>{{outerData.RH}}</td>
                    </tr>

                    <tr>
                        <td>03</td>
                        <td>Light</td>
                        <td>{{innerData.Light}}</td>
                        <td>{{outerData.Light}}</td>
                    </tr>

                </tbody>

            </table>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <table class="all-plants-data">

                <thead>
                    <th>#</th>
                    <th>Plant Id</th>
                    <th>Plant Name</th>
                    <th>PH Value</th>
                    <th>EC Value</th>
                    <th>Height</th>
                    <th>More Details</th>
                </thead>

                <tbody>
                    <tr>
                        <td data-th="#">01</td>
                        <td data-th="Plant Id">{{plantData.ID}}</td>
                        <td data-th="Plant Name">{{essentialplantData.Name}}</td>
                        <td data-th="PH Value">{{plantData.PH}}</td>
                        <td data-th="EC Value">{{plantData.EC}}</td>
                        <td data-th="Height">{{plantData.Height}}</td>
                        <td data-th="More Details">
                            <button class="more" data-toggle="modal" data-target="#modal-detail">More</button>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>