<div class="app-nav-bar"></div>

<div class="app-list-modal"></div>

<div class="app-detail-modal"></div>

<div class="container">

    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="row">

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <button type="button" class="btn more summery" data-toggle="modal"
                        data-target="#modal-list">Categories : </button>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <button type="button" class="btn more summery" data-toggle="modal" data-target="#modal-list">Plants
                        : </button>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <button type="button" class="btn more summery" data-toggle="modal"
                        data-target="#modal-list">Indicaters : </button>
                </div>

            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="common-data-header">Common Data</div>

            <table class="common-table">

                <thead>
                    <th>#</th>
                    <th>Feature</th>
                    <th>Inner Data</th>
                    <th>Outer Data</th>
                </thead>

                <tbody>

                    <tr>
                        <td>01</td>
                        <td>Tempereture</td>
                        <td>25</td>
                        <td>30</td>
                    </tr>

                    <tr>
                        <td>02</td>
                        <td>Relative humidity</td>
                        <td>0.5</td>
                        <td>0.2</td>
                    </tr>

                </tbody>

            </table>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <table class="all-plants-data">

                <thead>
                    <th>#</th>
                    <th>Plant Id</th>
                    <th>Plant Name</th>
                    <th>PH Value</th>
                    <th>EC Value</th>
                    <th>Height</th>
                    <th>More Details</th>
                </thead>

                <tbody>
                    <tr>
                        <td data-th="#">01</td>
                        <td data-th="Plant Id">P-A-1</td>
                        <td data-th="Plant Name">Tomato</td>
                        <td data-th="PH Value">10</td>
                        <td data-th="EC Value">0.4</td>
                        <td data-th="Height">25</td>
                        <td data-th="More Details">
                            <button class="more" data-toggle="modal" data-target="#modal-detail">More</button>
                        </td>
                    </tr>

                    <tr>
                        <td data-th="#">02</td>
                        <td data-th="Plant Id">P-A-2</td>
                        <td data-th="Plant Name">Tomato</td>
                        <td data-th="PH Value">10</td>
                        <td data-th="EC Value">0.4</td>
                        <td data-th="Height">25</td>
                        <td data-th="More Details">
                            <button class="more" data-toggle="modal" data-target="#modal-detail">More</button>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>

</div>