<div class="app-admin-agry"></div>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <label for="title">
                <h4>User</h4>
            </label>
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <form action="" method="post">
                <input type="text" name="userName" id="" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"
                    placeholder="User Name">
                <input type="password" name="password" id="" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"
                    placeholder="User Password">
                <input type="password" name="repassword" id="" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"
                    placeholder="Re-Enter User Password">
                <input type="submit" value="Modify User" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                    id="button"><br>
            </form>
        </div>
    </div>
</div>
