<div class="modal" tabindex=-1 role="dialog" id="modal-list">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header btn-dark">
                <h5 class="modal-title">Plants {{title}}</h5>
    
                <button type="button" class="close" data-dismiss="modal" area-label="close">
                    <span area-hidden="true">&times;</span>
                </button>
                
            </div>
    
            <div class="modal-body">
                <button type="button" class="btn btn-success col-12" data-toggle="modal" data-target="#modal-detail">Tomato</button><br><br>
                <button type="button" class="btn btn-success col-12" data-toggle="modal" data-target="#modal-detail">Chili</button><br><br>
                <button type="button" class="btn btn-success col-12" data-toggle="modal" data-target="#modal-detail">Carrot</button><br><br>
                <button type="button" class="btn btn-success col-12" data-toggle="modal" data-target="#modal-detail">Beans</button><br><br>
            </div>
    
            <div class="modal-footer btn-dark">
                <button type="button" class="btn btn-warning" data-dismiss="modal">close</button>
            </div>
    
        </div> 
    </div>
</div>