<div class="modal" tabindex=-1 role="dialog" id="modal-list">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header btn-dark">
                <div *ngFor="let value of listDetails; let first = first;" [ngClass]="{ first: first }">
                    <h5 class="modal-title" *ngIf="first">{{value}}</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" area-label="close">
                    <span area-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">
                <table class="col-12">
                    <tr *ngFor="let value of listDetails; let first = first;" [ngClass]="{ first: first }"
                        class="col-12">
                        <td class="col-12" *ngIf="!first">
                            <button type="button" class="btn btn-success col-12">{{value}}</button><br><br>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer btn-dark">
                <button type="button" class="btn btn-warning" data-dismiss="modal">close</button>
            </div>

        </div>
    </div>
</div>