<div class="app-nav-bar"></div>

<div class="admin-nav">
    <nav class="navbar navbar-expand-md navbar-dark">

        <button class="navbar-toggler" data-toggle="collapse" data-target="#csl">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="csl">

            <ul class="navbar-nav">

                <li class="nav-item active ml-3 mr-3 mt-2">
                    <a routerLink="/Mplant" class="nav-link btn btn-primary btn-sm"> Modify Plant Data </a>
                </li>

                <li class="nav-item ml-3 mr-3 mt-2">
                    <a routerLink="/MAdmin" class="nav-link btn btn-primary btn-sm"> Modify Admin </a>
                </li>

                <li class="nav-item ml-3 mr-3 mt-2">
                    <a routerLink="/MUser" class="nav-link btn btn-primary btn-sm"> Modify User </a>
                </li>

            </ul>
        </div>
    </nav>
</div>