body { 
    background: url(cover.jpg) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 540px) {

    body {
        background-image: none;
        background-color: black;
    }
}