<div class="app-admin-agry"></div>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 div">

            <h2>Essential Data</h2>

            <form action="" method="post">
                <h5>PH</h5>
                <input type="text" name="" id="" placeholder="PH : 25"
                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <h5>PH</h5>
                <input type="text" name="" id="" placeholder="PH : 25"
                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <h5>PH</h5>
                <input type="text" name="" id="" placeholder="PH : 25"
                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <h5>PH</h5>
                <input type="text" name="" id="" placeholder="PH : 25"
                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <h5>PH</h5>
                <input type="text" name="" id="" placeholder="PH : 25"
                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <h5>PH</h5>
                <input type="text" name="" id="" placeholder="PH : 25"
                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <br><br><input type="submit" value="Modify Data" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            </form>
        </div>
    </div>
</div>